<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <h1>
            ESTÁ RODANDO!!!
            <h2> IRRAAAAA</h2>
        </h1>
        {{ arquivo }}
    </div>

    <h1>{{ json.titulo }}</h1>
    <img src="{{ json.imagem }}">

    {% for chave, conteudo in json.items %}
        {% if chave != "imagem" %}
            {{ conteudo }}
        {% endif %}

    {% endfor %}
</body>
</html>