# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  database:
    container_name: postgres
    image: postgres
    restart: on-failure
    volumes:
      - ./.pgdata:/var/lib/postgresql
      - ./insert.sql:/docker-entrypoint-initdb.d/setup.sql
    env_file: 
      - ./config/.env
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 10
  django:
    container_name: filopedia
    build:
      context: .
      dockerfile: Dockerfile
    command: |
      sh -c "
      python filopedia/manage.py migrate &&
      python filopedia/manage.py shell -c \"
      from django.contrib.auth import get_user_model
      User = get_user_model()
      if not User.objects.filter(username='filopedia').exists():
          User.objects.create_superuser('filopedia', '', '123123')
      \" &&
      python filopedia/manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./data:/app/data
    ports:
      - 8000:8000
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - ./config/.env